@import "./reset.scss";
@import "./variables.scss";

.header {
    display: flex;
    flex-direction: row;
    // justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 68px;
    background: $color-blue-0;
    backdrop-filter: blur(4px);
    .logo {
        width: 71px;
        height: 45.64px;
        margin: 70px;
        margin-top: 13px;
        margin-bottom: 13px;
    }
    .navbar {
        ul {
            list-style: none;
            display: flex;
            a {
                margin: 26px 20px;
                text-decoration: none;
                font-size: 16px;
                align-items: center;
                color: #ffffff;
                opacity: 0.8;
                font-weight: 300;
                &.active {
                    font-weight: bold;
                    font-size: 16px;
                    align-items: center;
                    color: $color-white-0;
                    opacity: 1;
                }
            }
        }
    }
    .search-container {
        position: absolute;
        right: 70px;
        top: 11px;
        background-color: $color-white-0;
        width: 402px;
        height: 46px;
        border-radius: 30px;
        .search__input {
            width: 255px;
            padding: 15px;
            border-radius: 30px;
            border: none;
            outline: none;
            &:focus {
                border: none;
            }
            &::placeholder {
                color: $color-black-0;
                font-size: 14px;
            }
        }
        .search-down {
            cursor: pointer;
        }
        .button-search {
            position: absolute;
            right: 2px;
            top: 50%;
            transform: translateY(-50%);
            width: 68px;
            height: 42px;
            border-radius: 30px;
            border: none;
            background-color: $color-yellow-0;
            cursor: pointer;
        }
    }
}
.content {
    width: 90%;
    .content-left {
        width: 33.333%;
    }
}
.footer {
    position: relative;
    width: 100%;
    height: 178px;
    background-color: #4b4b4b;
    .footer-logo {
        position: absolute;
        left: 26.04%;
        top: 11.24%;
    }
    .logo-top {
    }
    .logo-text {
        position: absolute;
        left: 26.04%;
        top: 61.8%;
        // font-family: Encode Sans;
        font-weight: normal;
        font-size: 8px;
        line-height: 10px;
        color: #ffffff;
    }
    .logo-bottom-left {
        position: absolute;
        left: 26.04%;
        top: 72.23%;
    }
    .logo-bottom-right {
        position: absolute;
        left: 29.84%;
        top: 68.54%;
    }
}
