$color-blue-0: #2589eb;
$color-blue-1: #2369D1;
$color-blue-2: #228DF0;
$color-black-0: #212121;
$color-black-1: #424242;
$color-black-2:#E0E0E0;
$color-black-3:#F5FAFF;
$color-black-4: #9E9E9E;

$color-yellow-0: #ffbd47;
$color-yellow-1: #FFBD47;
$color-gray-0: #4b4b4b;
$color-gray-1:#E5E5E5;
$color-gray-2: #F2F2F2;
$color-white-0:#fff;


