.content-common {
    .content-item {
        width: 45%;
        border-radius: $border-radius-1;
        text-align: center;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
        cursor: pointer;
    }
    .content-img {
        border-radius: $border-radius-1 $border-radius-1 0 0;
        background: linear-gradient(0deg, rgba(255, 255, 255, 0), #ffffff);
        padding: 90px 0 41px;
        .img-product {
            width: 90%;
        }
        .icon-check {
            display: none;
        }
    }
    .content-img-mobile{
        padding: 38px 0 25px;
        .img-product {
            width: 55%;
        }
        .style-img-1{
            width: 47%;
        }
    }
    .content-description {
        padding-top: 24px;
        padding-bottom: 23px;
        background-color: $color-white-0;
        border-top: 1px solid $color-gray-2;
        border-radius: 0 0 10px 10px;
        h4 {
            @include styleText($color-black-1, $fw-3, $fs-0);
        }
   
    }
    .text-two-line{
        padding-top: 14px;
        padding-bottom: 12px;
    }
    
    .space-item {
        margin-bottom: 20px;
        margin-right: 20px;
    }
    .content-item {
        &.hover-card-1:hover {
            .icon-check {
                display: block;
                position: absolute;
                top: 13px;
                right: 15px;
            }
            .content-img {
                position: relative;
                background: linear-gradient(to bottom, rgba(255, 255, 255, 0), $color-gray-3);
            }
            box-shadow: 0px 0px 20px $color-blue-0;
            .content-description {
                background-color: $color-blue-0;
                h4 {
                    color: $color-white-0;
                }
            }
            
        }
        &.active1 {
            .icon-check {
                display: block;
                position: absolute;
                top: 13px;
                right: 15px;
            }
            .content-img {
                position: relative;
                background: linear-gradient(to bottom, rgba(255, 255, 255, 0), $color-gray-3);
            }
            box-shadow: 0px 0px 20px $color-blue-0;
            .content-description {
                background-color: $color-blue-0;
                h4 {
                    color: $color-white-0;
                }
            }
        }
    }
    @include responsive("screen-3"){
        .content-description {
            h4 {
                font-size: $fs-0 - 2;
            }
        }
        .content-img {
            padding: 80px 0 32px;
        }
        .content-img-mobile{
            padding: 38px 0 20px;
        }
       
    }
    @include responsive("screen-1"){
        .space-item {
            margin-bottom: 18px;
            margin-right: 18px;
        }
        .content-description {
            h4 {
                font-size: $fs-0 - 3;
            }
        }
    }
    @include responsive("extra-large") {
        .space-item {
            margin-bottom: 14px;
            margin-right: 14px;
        }
        .content-description {
            padding-top: 18px;
            padding-bottom: 17px;
            h4 {
                font-size: $fs-0 - 5;
            }
        }
        .text-two-line{
            padding-top: 6px;
            padding-bottom: 8px;
        }
        .content-img {
            padding: 70px 0 30px;
        }
        .content-img-mobile{
            padding: 35px 0 20px;
        }
    }

    @include responsive("large") {
        .space-item {
            margin-bottom: 11px;
            margin-right: 11px;
        }
        .content-description {
            padding-top: 14px;
            padding-bottom: 12px;
            h4 {
                font-size: $fs-0 - 7;
            }
        }
        .text-two-line{
            padding-top: 3px;
            padding-bottom: 2px;
        }
        .content-img {
            padding: 65px 0 25px;
        }
        .content-img-mobile{
            padding: 33px 0 18px;
        }
        .content-item {
            &.active1 {
                .icon-check {
                    top: 8px;
                    right: 6px;
                    img {
                        width: 22px;
                    }
                }
            }
            &.hover-card-1:hover{
                .icon-check {
                    top: 8px;
                    right: 6px;
                    img {
                        width: 22px;
                    }
                }
            }
        }
    }
    @include responsive("medium") {
        .space-item {
            margin-bottom: 18px;
            margin-right: 18px;
        }
        .content-description {
            padding-top: 20px;
            padding-bottom: 19px;
            h4 {
                // white-space: nowrap;
                font-size: $fs-0 - 2;
            }
        }
        .content-img {
            padding: 90px 0 40px;
        }
        .content-img-mobile{
            padding: 38px 0 25px;
        }
        .content-item {
            &.active1 {
                .icon-check {
                    top: 8px;
                    right: 6px;
                    img {
                        width: 22px;
                    }
                }
            }
            &.hover-card-1:hover{
                .icon-check {
                    top: 8px;
                    right: 6px;
                    img {
                        width: 22px;
                    }
                }
            }
        }
    }
    @include responsive("small"){
        .space-item {
            margin-bottom: 15px;
            margin-right: 15px;
        }
        .content-description {
            padding-top: 18px;
            padding-bottom: 17px;
            h4 {
                // white-space: nowrap;
                font-size: $fs-0 - 4;
            }
        }
        .text-two-line{
            padding-top: 6px;
            padding-bottom: 8px;
        }
    }

  
}
