
.footer {
    background-color: $color-gray-0;
    padding-top: 20px;
    padding-bottom: 27px;
    .footer-content{
        width: 60%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        // align-items: center;
    }
    .footer-logo{
        width: 20%;
    }
    .logo-text {
        font-family: "Encode Sans", sans-serif;
        line-height: 10px;
        @include styleText($color-white-0, $fs-2, $fw-1);
        margin-top: 13px;
    }
    .logo-bottom {
        display: flex;
    }
    .logo-bottom-left {
        margin-top: 8px;
        margin-right: 8px;
    }
    .logo-bottom-right {
        margin-top: 2px;
    }
    .footer-contact {
        width: 30%;
        h3 {
            font-family: "Encode Sans", sans-serif;
            line-height: 25px;
            @include styleText($color-white-0, $fs-1 - 4, $fw-1 );
            margin-bottom: 14px;
        }
    }
    .detail-contact {
        display: flex;
        margin-bottom: 10px;
        img {
            width: 11px;
            height: 11px;
        }
        p {
            font-family: "Encode Sans", sans-serif;
            line-height: 12px;
            @include styleText($color-white-0, $fs-0 - 4, $fw-1);
            margin-left: 7px;
        }
    }
    .social-media {
        display: flex;
        margin-top: 4px;
    }
    .logo-facebook {
        text-align: center;
        width: 21px;
        height: 21px;
        line-height: 24px;
        background-color: $color-blue-1;
        border-radius: 50%;
        &.space-right{
            margin-right: 5px;
        }
    }
    .logo-skype {
        text-align: center;
        width: 21px;
        height: 21px;
        line-height: 24px;
        background-color: $color-blue-2;
        border-radius: 50%;
        &.space-right{
            margin-right: 5px;
        }
    }
    .logo-zalo {
        text-align: center;
        width: 21px;
        height: 21px;
        line-height: 24px;
        background-color: $color-white-0;
        border-radius: 50%;
        &.space-right{
            margin-right: 5px;
        }
    }
    .footer-address {
        width: 50%;
    }
    .address-shared {
        margin-bottom: 15px;
        h3 {
            font-family: "Encode Sans", sans-serif;
            line-height: 25px;
            @include styleText($color-white-0, $fs-1 - 4, $fw-1);
            margin-bottom: 2px;
        }
    }
    .address-detail {
        display: flex;
        align-items: center;
        img {
            width: 12px;
            height: 14px;
            margin-right: 6px;
        }
        p {
            font-family: "Encode Sans", sans-serif;
            @include styleText($color-white-0, $fs-0 - 4, $fw-1);
            margin-top: 5px;
        }
    }
    @include responsive("screen-3") {
          
        .footer-logo{
            .logo-img{
                max-width: 100px;
            }
            .logo-text {
                margin-top: 8px;
            }
        }
        .footer-contact {
            width: 30%;
            h3 {
            
                line-height: 22px;
                font-size: $fs-1 - 5;
                margin-bottom: 10px;
            }
        }
        .detail-contact {
            p {
                line-height: 10px;
                font-size: $fs-0 - 5;
                margin-left: 7px;
            }
        }
        .social-media {
            margin-top: 3px;
        }
        .footer-address {
            width: 50%;
        }
        .address-shared {
            margin-bottom: 12px;
            h3 {

                line-height: 22px;
                font-size: $fs-1 - 5;
                margin-bottom: 2px;
            }
        }
        .address-detail {
            p {
                font-size: $fs-0 - 5;
                margin-top: 4px;
            }

    }
    @include responsive("large"){
        .footer-content{
            width: 85%;
        }
    }
    @include responsive("medium"){
        .footer-content{
            width: 75%;
            flex-wrap: wrap;
        }
        .footer-logo{
            width: 50%;
            margin-bottom: 20px;
        }
        .footer-contact{
            width: 50%;
            margin-bottom: 20px;
        }
        .footer-address{
            width: 100%;
        }
    }
}
}