.header {
    display: flex;
    align-items: center;
    // height: 68px;
    background: $color-blue-0;
    // padding: $pd-0 0;
    .header-content {
        width: 93%;
        display: flex;
        margin: auto;
    }
    .logo {
        display: flex;
        align-items: center;
        width: 5%;
        cursor: pointer;
        margin-right: 20px;
        .logo-img {
            max-width: 100%;
            height: auto;
        }
    }

    .navbar {
        width: 36%;
        .navbar-list {
            list-style: none;
            display: flex;
            align-items: center;
            height: 100%;
            .navbar-item {
                margin: 0 20px;
                padding-bottom: 16px;
                @include styleText($color-white-0, $fs-0 + 2px, $fw-0);
                text-decoration: none;
                align-items: center;
                opacity: 0.8;
                &.active {
                    font-weight: $fw-3;
                    opacity: 1;
                    border-bottom: 3px solid $color-white-0;
                }
                &:hover {
                    font-weight: $fw-3;
                    opacity: 1;
                }
            }
            .line-right {
                width: 1px;
                border-right: 1px solid $color-white-0;
            }
        }
    }
    .search {
        display: flex;
        width: 59%;
        margin: 11px 0;
        align-items: center;
        justify-content: flex-end;
    }
    .search-container {
        height: 46px;
        width: 40%;
        display: flex;
        align-items: center;
        background-color: $color-white-0;
        border-radius: 30px;
        .search__input {
            width: 70%;
            .search__input_child {
                width: 80%;
                padding: 12px;
                padding-left: 16px;
                border-radius: $border-radius-0;
                border: none;
                outline: none;
                &:focus {
                    border: none;
                }
                &::placeholder {
                    @include styleText($color-black-0, $fs-0, $fw-1);
                }
            }
        }
        .search-down {
            width: 10%;
            cursor: pointer;
            display: inline-block;
            // width: 10px;
            // margin-right: 30px;
        }
        .button-search {
            width: 20%;
            .button-search-child {
                // margin-right:2px ;
                width: 98%;
                height: 42px;
                border-radius: $border-radius-0;
                border: none;
                background-color: $color-yellow-0;
                cursor: pointer;
            }
        }
    }
    .sidebar {
        display: flex;
        align-items: center;
        width: 30px;
        // height: 30px;
        margin-top: 8px;
        margin-left: 60px;
        color: $color-white-0;
        display: none;
    }
    .nav__overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.3);
        display: none;
        z-index: 5;
    }
    .navbar_mobile {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        width: 320px;
        max-width: 100%;
        background-color: $color-white-0;
        z-index: 10;
        transition: all 0.5s;
        transform: translateX(100%);
        .navbar-list-mobile {
            margin-top: 78px;
            list-style: none;
            .navbar-item-mobile {
                a {
                    font-size: $fs-0 + 2px;
                    padding: 14px 20px;
                    display: block;
                    text-decoration: none;
                    color: $color-blue-0;
                }
                // background-color: $color-gray-0;
                margin-bottom: 10px;
                box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
                &:hover {
                    background-color: $color-blue-0;
                    a {
                        color: $color-white-0;
                        font-weight: $fw-3;
                    }
                }
                &.active {
                    background-color: $color-blue-0;
                    a {
                        color: $color-white-0;
                        font-weight: $fw-3;
                    }
                }
            }
        }
        .button-close-sidebar {
            width: $fs-1 - 2;
            position: absolute;
            top: 20px;
            right: 20px;
            cursor: pointer;
            color: $color-blue-0;
        }
    }
    @include responsive("screen-3") {
        .navbar {
            .navbar-list {
                .navbar-item {
                    margin: 0 16px;
                    padding-bottom: 14px;
                    font-size: $fs-0 + 1;
                }
            }
        }
        .search {
            margin: 9px 0;
        }
        .search-container {
            height: 40px;

            .search__input {
                .search__input_child {
                    padding: 12px;

                    &::placeholder {
                        font-size: $fs-0 - 1;
                    }
                }
            }

            .button-search {
                // width: 20%;
                .button-search-child {
                    height: 38px;
                }
            }
        }
    }
    @include responsive("screen-4") {
        .navbar {
            .navbar-list {
                .navbar-item {
                    margin: 0 14px;
                    padding-bottom: 14px;
                    font-size: $fs-0;
                }
            }
        }
        .search {
            margin: 9px 0;
        }
        .search-container {
            height: 38px;
            width: 42%;
            .search__input {
                .search__input_child {
                    padding: 10px 12px;

                    &::placeholder {
                        font-size: $fs-0 - 2;
                    }
                }
            }

            .button-search {
                // width: 20%;
                .button-search-child {
                    height: 36px;
                }
            }
        }
    }
    @include responsive("screen-2") {
        .navbar {
            .navbar-list {
                .navbar-item {
                    margin: 0 12px;
                    padding-bottom: 12px;
                    font-size: $fs-0 - 2.5;
                }
            }
        }
        .search {
            margin: 7px 0;
        }
        .search-container {
            height: 36px;

            .search__input {
                .search__input_child {
                    padding: 8px;

                    &::placeholder {
                        font-size: $fs-0 - 2;
                    }
                }
            }

            .button-search {
                // width: 20%;
                .button-search-child {
                    height: 34px;
                }
            }
        }
    }
    @include responsive("screen-1") {
        .navbar {
            .navbar-list {
                .navbar-item {
                    margin: 0 10px;
                    padding-bottom: 10px;
                    font-size: $fs-0 - 3;
                }
                .line-right {
                    display: inline-block;
                    height: 10px;
                }
                .line-right {
                    display: inline-block;
                    height: 10px;
                }
            }
        }
        .search {
            margin: 6px 0;
        }
        .search-container {
            height: 34px;

            .search__input {
                .search__input_child {
                    padding: 6px 10px;

                    &::placeholder {
                        font-size: $fs-0 - 3;
                    }
                }
            }

            .button-search {
                // width: 20%;
                .button-search-child {
                    height: 32px;
                }
            }
        }
    }
    @include responsive("extra-large") {
        .navbar {
            .navbar-list {
                .navbar-item {
                    margin: 0 8px;
                    padding-bottom: 8px;
                    font-size: $fs-0 - 5;
                }
            }
        }
        .search {
            margin: 4px 0;
        }
        .search-container {
            height: 30px;

            .search__input {
                .search__input_child {
                    padding: 6px 10px;

                    &::placeholder {
                        font-size: $fs-0 - 3;
                    }
                }
            }

            .button-search {
                // width: 20%;
                .button-search-child {
                    height: 28px;
                }
            }
        }
    }
    @include responsive("large") {
        .navbar {
            .navbar-list {
                .navbar-item {
                    margin: 0 5px;
                    padding-bottom: 8px;
                    font-size: $fs-0 - 6;
                }
                .line-right {
                    display: inline-block;
                    height: 7px;
                }
            }
        }
        .search {
            margin: 4px 0;
        }
        .search-container {
            height: 28px;

            .search__input {
                .search__input_child {
                    padding: 6px 10px;

                    &::placeholder {
                        font-size: $fs-0 - 4;
                    }
                }
            }

            .button-search {
                // width: 20%;
                .button-search-child {
                    height: 28px;
                }
            }
        }
    }
    @include responsive("medium") {
        .navbar {
            display: none;
        }

        .logo {
            width: 15%;
        }
        .search {
            justify-content: center;
            width: 70%;
            margin: 4px 0;
            .search-container {
                width: 70%;
                height: 34px;
                .search__input {
                    .search__input_child {
                        &::placeholder {
                            font-size: $fs-0 - 2;
                        }
                    }
                }
    
                .button-search {
                    // width: 20%;
                    .button-search-child {
                        height: 32px;
                    }
                }
            }
        }
        .sidebar {
            display: block;
        }
        .navbar_mobile {
            display: block;
        }
        .search-container {
            .search__input {
                .search__input_child {
                    &::placeholder {
                        font-size: $fs-0 - 1;
                    }
                }
            }
        }
    }
    @include responsive("small") {
        .sidebar {
            margin-left: 20px;
        }
    }
}
